$color-blue-light: #6a9ccd;
$color-blue: #083F50;
$color-blue-dark: #204d74;
$color-orange: #ed9124;
$color-tan: #cc9;
$color-green: #008000;
$color-teal: #0a817f;
$color-gray-light: #eee;
$footer-background-color: #f9f9f9;
$footer-border-color: #f5f5f5;
$color-gray: #ddd;
$color-black: #000;
$color-white: #fff;

$font-family: 'Avenir Next';
