@import 'base';

#row_container,
#col_container {

  text {
    cursor: pointer;
  }
}

#button-container {
  margin-left: 40px;
  text-align: left;
  width: 180px;
  // margin: 0 auto;

  .inactive {
    opacity: .5;

    &:hover {
      background-color: $color-blue-light;
    }
  }

  .active {
    opacity: 1;
  }
}

.clust-btn {
  outline: 0;
  border: 0;
  border-radius: 0;
  padding: 6px 12px;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  color: $color-white;
  background-color: $color-blue;
  border-color: $color-blue-dark;
}

#svg-div {
  height: 400px;
  width: 100%;

  text[text-anchor="center"] {
    fill: $color-blue;
  }

  @media all and (max-width: 992px) {
    margin: 0 auto !important;
    width: 550px;
    height: 800px;
  }
}
