html {
  width: 850px;
  margin: 0 auto;
}

body {
    padding: 10px;
}
body,
h1,h2,h3,h4,h5,h6,
a {
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
a {
    color: #3593b1;
}
.st-sort:before{
  content:'\25b6';
}
.st-sort-ascent:before {
    content: '\25B2';
}
.st-sort-descent:before {
    content: '\25BC';
}

th {
	cursor:default;
}
.table > thead > tr > th {
    border-bottom: 1px solid #ddd;
}
.download-spreadsheets{
	top: 5px;
	float: right;
}
#summary td {
    vertical-align: top;
}
#summary .bigNum {
    color: #3593b1;
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 36px;
    font-weight: bold;
    /*position: relative;
    top: -10px;*/
}
#summary .bigLetter {
    font-size: 20px;
    font-weight: bold;
    margin-right: 5px;
    text-transform: uppercase;
}
.center-name {
    width: 50px;
}

.logo{
  width: 50px;
  margin-right: 5px;
}

.milestones-title{
	font-weight: bold;
}

.displayed-data {
	min-width: 100px;
	font-size: 12px;
}

.cell-data {
	font-size: 12px;
}

.cell-data-count {
    font-size: 12px;
    text-align: center;
}

.clickable{
    cursor: pointer;
}

.cell-modal-header{
    margin-top: 1em;
  padding-bottom: 0;
  padding-left: 1.8em;
}

.custom-modal-body{
    padding-bottom: 0px;
}

.pagination{
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 4px;
  cursor:pointer;
}

.card{
  padding-left: 5px;
  padding-right: 5px;
  font-size:0.8em;
}


@media (min-width:1200px){
  .card{
    height:100px;
  }
}

@media (min-width:992px) and (max-width:1199px){
  .card{
    height:110px;
  }
}

@media (max-width:991px) and (min-width:768px){
  .card{
    height: 120px;
  }
}

@media (max-width:767px){
  .card{
    height:100px;
  }
}


.card-assay{
  font-weight: 600;
  color:#083F50;
  margin-left:1px;
}
.card-content{
  border-style: solid;
  border-width: thin;
  border-color:#bbb;
  height: 95%;
  width: 100%;
  border-radius: 3px;
}
.card-counts{
  font-family: 'Noto Sans', sans-serif;
  margin-left:2px;
}
.card-initial{
    width: 30px;
    display: inline-block;
    text-align: center;
    color: white;
    font-weight: bolder;
    border-top-left-radius: 2px;
}

/*.card-status{
  width: 80px;
  float: right;
  font-size: 85%;
}*/

.card-label{
  font-size:85%;
}

.card-expand{
    float: right;
    /* margin-right: 0.3em; */
    color: white;
    background-color: #65C0DE;
    padding-right: 3px;
    padding-left: 3px;
    cursor:pointer;
    border-top-right-radius: 2px;
}

.card-expand:hover{
    background-color: #428bca;
    color:white;
}

.card-custom-modal-body{
  padding-top:0px;
}

.big-card-released{
    display: table;
    border-top-style: solid;
    border-top-width: thin;
    padding-top: 3px;
    border-top-color: #ccc;
}

.big-card-label{
    font-size: 65%;
    vertical-align: 10%;
}

.big-card-count{
  color:#207A96;
  font-weight: 600;
}

.card-input{
  width:100%;
  font-size:1.2em;
  padding: 3px;
  border-radius: 2px;
  border-style: solid;
  border-width: thin;
  border-color: #bbb;
}
.card-input-div{
    margin-left: -15px;
    margin-right: -15px;
    margin-top: 40px;
}

.card-less-bottom{
  margin-bottom: 10px;
}

.big-card-readouts{
  font-size:14px;
}

.big-card-readouts-div{
  margin-bottom: 20px;
}

#summary>tbody>tr>td{
  border-top-style:none;
}

.card-keywords{
  text-align: center;
  margin-top:2px;
}

.card-keyword{
     padding-left: 4px;
    padding-right: 4px;
    padding-top: 3px;
    padding-bottom: 3px;
}


.card-keyword:hover{
  color:white;
  background-color: #3593b1;
}

.card-keyword-selected{
  color:white;
  background-color: #3593b1;
}

.card-keywords-title{
  vertical-align: -6%;
}

.views{
  float:right;
}

.view{
    background-color: #6ABCD6;
    color: white;
    font-size: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 8px;
    padding-right: 8px;
}

.view:hover{
  background-color: #418DA5;
    color: white;
}

.view-current{
  background-color: #418DA5
}
