body {
    padding: 50px;
}
body,
h1,h2,h3,h4,h5,h6,
a {
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
a {
    color: #3593b1;
}
.st-sort-ascent:before {
    content: '\25B2';
}
.st-sort-descent:before {
    content: '\25BC';
}
th {
	cursor:default;
}
.table > thead > tr > th {
    border-bottom: 1px solid #ddd;
}
.download-spreadsheets{
	top: 5px;
	float: right;
}
#summary td {
    vertical-align: top;
}
#summary .bigNum {
    color: #3593b1;
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 36px;
    font-weight: bold;
    /*position: relative;
    top: -10px;*/
}
#summary .bigLetter {
    font-size: 20px;
    font-weight: bold;
    margin-right: 5px;
    text-transform: uppercase;
}
.center-name {
    width: 130px;
}

.logo{
	width:25px;
	margin-right:5px;
}

.milestones-title{
	font-weight: bold;
}
