<!DOCTYPE html>
<html lang="en" ng-app="Milestones">

<head>
  <meta charset="UTF-8">
  <title>Milestones</title>
  <!-- CSS -->
  <link href='https://fonts.googleapis.com/css?family=Noto+Sans' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="libraries/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="libraries/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="CSS/main.css">
  <link rel="stylesheet" href="CSS/product.css">
  <link rel="stylesheet" href="CSS/grid.min.css">
<script src="libraries/jquery/jquery.min.js"></script>
<script src="libraries/string/lib/string.min.js"></script>
<script src="libraries/underscore/underscore-min.js"></script>
<script src="libraries/angular/angular.js"></script>
<script src="libraries/angular-smart-table/dist/smart-table.min.js"></script>
<script src="versioned/libraries/ui-bootstrap-tpls-0.12.0.min.js"></script>
<script src="libraries/ng-lodash/build/ng-lodash.min.js"></script>
<script src="libraries/jquery-ui/jquery-ui.min.js"></script>
<script src="scripts/app.js"></script>
<script src="scripts/services.js"></script>
<script src="scripts/grid.min.js"></script>
</head>

<body ng-controller="Docent3Controller as dc">
  <div>
    <span class="views">
    <a ng-href="{{baseURL}}product.html" class="btn view">List View</a>
    <a ng-href="{{baseURL}}cards.html" class="btn view">Card View</a>
    <a ng-href="{{baseURL}}grid.html" class="btn view view-current">Grid View</a>
    </span>
  </div>
  <p class="description">
    Clicking on either the row or column labels will list all experiments applied to a specific cell line, or all cell lines profiled by a specific assay, respectively. Clicking on a cell-line/assay pair (blue squares) will show all experiments performed by the selected assay on the selected cell line. The opacity of the blue squares indicates the number of perturbations applied in each particular experimental setting.
  </p>
  <div class="card-input-div">
    <form id="grid-search" ng-submit="dc.search()">
      <input placeholder="Search assays, cell lines, and perturbagens..." ng-model="dc.searchQ" class="card-input">
      <div class="card-keywords"> <span class="card-keywords-title"> Example keywords:</span>
        <span ng-repeat="keyword in dc.keywords">
          <a ng-class="{'card-keyword-selected': dc.searchQ === keyword}" class="btn card-keyword" ng-click="dc.search(keyword)"> {{keyword}}</a>
        </span>
      </div>
    </form>
  </div>
  <table class="table card-less-bottom" id="summary">
    <tbody>
      <tr>
        <td>
          <span class="bigLetter">Centers:</span>
          <span class="bigNum">{{dc.summary.center}}</span>
        </td>
        <td>
          <span class="bigLetter">Assays:</span>
          <span class="bigNum">{{dc.summary.assays}}</span>
        </td>
        <td>
          <span class="bigLetter">Perturbagens:</span>
          <span class="bigNum">~{{dc.summary.perturbagens}}</span>
        </td>
        <td>
          <span class="bigLetter">Cell-lines:</span>
          <span class="bigNum">~{{dc.summary.cellLines}}</span>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="clust-content">
    <div class="clustergram">
      <clustergram arguments="dc.arguments"></clustergram>
    </div>
    <p ng-if="dc.releases.length === 0 && !dc.resultIsSearch">
      Click on a tile above to view its releases...
    </p>
    <h3 class="title" ng-if="dc.resultsLoading">Loading...</h3>
    <h3 class="title" ng-if="dc.releases.length > 0 && !dc.resultIsSearch && !dc.resultsLoading">
        <span class="emph highlight-primary">{{dc.releases.length}}</span>
        Release<span ng-if="dc.releases.length > 1">s</span> with the
        <span ng-if="dc.query.dataset">
          <span class="emph highlight-primary">{{dc.query.dataset}}</span>
          assay
        </span>
        <span ng-if="dc.query.dataset.length && dc.query.cellLine.length && dc.query.cellLine !== 'cell-free'">
          and
        </span>
        <span ng-if="dc.query.cellLine && dc.query.cellLine !== 'cell-free'">
          <span class="emph highlight-primary">{{dc.query.cellLine}}</span>
          cell line
        </span>
      </h3>
    <h3 class="title" ng-if="dc.releases.length === 0 && dc.resultIsSearch && !dc.resultsLoading">
        No results found for <span class="emph highlight-primary">{{dc.searchQCopy}}</span>
      </h3>
    <h3 class="title" ng-if="dc.releases.length > 0 && dc.resultIsSearch && !dc.resultsLoading">
        <span class="emph highlight-primary">{{dc.releases.length}}</span>
        Result<span ng-if="dc.releases.length > 1">s</span> Found for
        <span class="emph highlight-primary">{{dc.searchQCopy}}</span>
      </h3>
    <div class="releases">
      <div ng-repeat="release in dc.releases | orderBy: 'releaseDates.upcoming'" class="dc-release">
        <div class="dc-rel-header">
          <h4>{{release.datasetName}}</h4>
          <h5 class="dc-rel-status status-released" ng-if="release.released">
              Released on {{release.releaseDates.upcoming | date: 'MMMM, d, yyyy'}}
            </h5>
          <h5 class="dc-rel-status status-awaiting" ng-if="!release.released">
              Awaiting Release
            </h5>
        </div>
        <div class="dc-rel-info">
          <p>
            <strong>Center:</strong> {{release.group.name}}</p>
          <p>
            <strong>Assay:</strong> {{release.metadata.assay[0].name}}</p>
          <p>
            <strong>Description:</strong> {{release.description}}</p>
        </div>
        <div class="dc-rel-urls">
          <a ng-if="release.urls.metadataUrl.length > 0" ng-href="{{release.urls.metadataUrl}}" target="_blank">
            <i class="fa fa-files-o fa-2x"></i>
            <br />
            View Metadata
          </a>
          <a ng-if="release.urls.qcDocumentUrl.length > 0" ng-href="{{release.urls.qcDocumentUrl}}" target="_blank">
            <i class="fa fa-book fa-2x"></i>
            <br />
            View QC Documentation
          </a>
          <a ng-if="release.urls.dataUrl.length > 0" ng-href="{{release.urls.dataUrl}}" target="_blank">
            <i class="fa fa-database fa-2x"></i>
            <br />
            Access Data
          </a>
          <a ng-if="release.urls.pubMedUrl.length > 0" ng-href="{{release.urls.pubMedUrl}}" target="_blank">
            <i class="fa fa-link fa-2x"></i>
            <br />
            View on PubMed
          </a>
        </div>
      </div>
    </div>
  </div>
  </div>
</body>

</html>
