<div class="modal-header perturbagen-modal-header" style="border-bottom-width:0">
	<button type="button" class="close"   ng-click="cancel()" data-dismiss="modal" aria-hidden="true">&times;</button>
	<h4 class="modal-title example-header">Perturbagens in this Assay/Dataset:</h4>
</div>
<div class="modal-body custom-modal-body">
    <table st-table="perturbagens" class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Type</th>
        </tr>
        <tr ng-if="perturbagenCount>24">
            <th colspan="2">
                <input placeholder="Search" st-search type="search"
                       class="form-control"/>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr st-select-row="entry" st-selected-entry="selectedEntry"
            ng-repeat="entry in perturbagens">
            <td class="col-xs-5">{{entry.name}}</td>
            <td>{{entry.type ? entry.type : 'NA'}}</td>
        </tr>
        </tbody>
        <tfoot ng-if="perturbagenCount>12">
        <tr>
            <td colspan="2">
                <div st-pagination="" st-items-by-page="12"
                     st-displayed-pages="" class="custom-pagination"></div>
            </td>
        </tr>
        </tfoot>
    </table>
</div>
<div class="modal-footer">
	<!-- <button class="btn btn-primary" ng-click="ok()">Search</button> -->
    <!-- <button class="btn btn-warning" ng-click="cancel()">Cancel</button> -->
</div>